*.o

.libs
.deps
*.in
stamp-h1
.dirstamp
autom4te.cache
aclocal.m4
libtool
build/*
coverage
configure
config.log
config.status
config.h

*.log
*.trs

/qname

/t/contract/r/qname-equiv
/t/contract/r/qname-match
/t/contract/r/qname-string

/t/fuzz/r/qname
/t/fuzz/r/msg
/t/fuzz/findings
